.message-line {
    display: flex;
    flex-direction: row;
}

.loading-message {
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    /* margin-left:20px; */
    border-radius: 4px;
    background-attachment: scroll;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}

.message-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: none;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-height: calc(100vh - 310px);
    overflow-y: scroll;
    overflow-x: hidden;
    /* min-width: 200px; */
}




.message-card {
    align-self: flex-start;
    /* margin: 15px; */
    /* padding-left: 16px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
    /* border-style: dashed; */
    /* border-color: blue; */
    border-width: 0.5px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin: 10px;
}

.top-section-word {
    font-weight: 800px;
    font-size: 16px;
    height: 44px;
    display: flex;
    align-items: center;

    width: 100%;
    padding-left: 16px;
    /* padding-left: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-other-person-name {
    font-size: 14px;
    font-weight: 600;
    height: 18px;
}

.top-other-person-title {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    height: 18px;

}


.message-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-grow: 1.5; */
    /* width: calc(100% - 40px); */
}

.message-photo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;

}

.message-right {
    width: 100%;
}

.message-user-name {
    font-weight: 600;
    font-size: 14px;
}

.message-time {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.message-content-font {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    font-size: 14px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 20px;
    height: 10px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle-label:after {
    content: '';
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 9px;
    transition: 0.3s;
}

input:checked+.toggle-label {
    background: #bada55;
}

input:checked+.toggle-label:after {
    left: calc(100% - 0.5px);
    transform: translateX(-100%);
}

.toggle-label:active:after {
    width: 13px;
}


.message-top-right {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    /* padding: 10px; */
    align-items: center;
    /* border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.08); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
}


/* .toggle-input{
    padding-right: 30px;
} */


.top-no-message {
    align-items: center;
    width: 100%;
    display: flex;
    height: 44px;
}

.empty-spacer {
    height: 30px;
}