.message-line {
    display: flex;
    flex-direction: row;
}

.loading-message {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    /* margin-left:20px; */
    border-radius: 4px;
    background-attachment: scroll;

}

.message-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: none;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-height: calc(100vh - 310px);
    overflow-y: scroll;

}




.other-message {
    align-self: flex-start;
    /* margin: 15px; */
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
    border-style: dashed;
    border-color: blue;
    border-width: 0.5px;
    display: flex;
    flex-direction: column;
}

.top-section-word {
    font-weight: 800px;
    font-size: 16px;
    height: 44px;
    display: flex;
    align-items: center;
    border-width: 1px;
    /* border-left-width:0.25px ; */
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.08);
    width: 284px;
    padding-left: 16px;
    /* padding-left: 16px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

.top-other-person-name {
    font-size: 14px;
    font-weight: 600;
    height: 18px;
}

.top-other-person-title {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    height: 18px;

}