.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;

}

.profile-dropdown button {
  text-align: left;
  background-color: white;
  border-style: none;
}

.profile-dropdown button:hover {
  background-color: grey;
  cursor: pointer;
}

.profile-dropdown li {
  list-style-type: none;
  background-color: white;
  font-size: 14px;
  text-align: left;
}

.profile-dropdown li button {
  text-align: left;
  margin: 0;
  padding: 0;
}

.profile-dropdown li:hover {
  background-color: grey;
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 52px;
  border-width: 0px;
  top: 0;
  width: 100vw;
  position: fixed;
  margin: 0px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 25px;
}

.profile-button {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link:visited {
  color: unset;
}

.login-photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px;

}