.join-in-button {
  color: rgb(64, 64, 64);
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  height: 48px;
}

.sign-in-button-top {
  background-color: transparent;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  height: 48px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  width: 108px;
}

.three-top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  /* margin-top: 10px; */
}
