.yes-button {
  background-color: rgb(1, 70, 138);
  color: white;
  border-radius: 16px;
  border-color: white;
  height: 32px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.confirm {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.delete-post-confirmation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .delete-post-confirmation-form {
    width: 100%;
  }

  .confirm {
    width: 100%;
    margin-top: 40px;
  }
}
