.update-comment-form label {
  display: block;
  margin: 20px;
}

.update-comment-form textarea {
  width: 420px;
  height: 100px;
  border-radius: 5px;
  margin: 3px;
  background-color: rgb(243, 242, 239);
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0.6);
  white-space: normal;

  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border: none;
  outline: none;
  resize: none;
}

.update-comment-form button {
  background-color: rgb(1, 70, 138);
  color: white;
  border-radius: 16px;
  border-color: white;
  height: 32px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.update-comment-form span {
  display: inline-block;
  width: 80px;
  font-size: 14px;
}

.edit-comment-text {
  display: flex;
  justify-content: center;
}
