.single-comment {
    border: 1px solid;
    border-radius: 8px;
    width: 455px;
    background-color: rgb(242, 242, 242);
    border-color: rgba(0, 0, 0, 0.9);
    border-style: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 24px;
    margin-left: 4px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    padding-left: 12px;
    /* padding-right: 64px; */
    padding-top: 8px;
}





.count-comments {
    display: flex;
    justify-content: space-between;
}

.show-comment-button {
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    border-style: none;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 16px;
    margin-bottom: 10px;
}

.comment-container {
    display: flex;
}

.comment-profile-photo {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.comment-user-name {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    line-height: 21px;
}

.comment-content {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    word-break: break-word;
}

.comment-user-title {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: none;
    line-height: 16px;
}

.comment-user-name-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    padding-left: 5px;
    /* padding-right: 64px; */
    /* padding-top: 8px; */
}

.comment-dropdown {
    padding-left: 16px;
}

.name-plus-three-dots {
    display: flex;
    justify-content: space-between;
}

.comment-like-count-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.like-count-button{
    font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 18px;
        margin-bottom: 10px;
        background-color: white;
        border-style: none;
}