.start-a-post-button {
    border-radius: 35px;
    width: 462px;
    height: 56px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    vertical-align: middle;
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}

.create-post-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 24px; */

}

.the-line {
    display: flex;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.home-post-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;

}

.home-container {
    display: flex;
    flex-direction: row;
}

.current-user-container {
    width: 300px;
}








.post-main-ul {
    padding: 0px;

}

.news-bold {
    font-size: 14px;
    font-weight: 600;
    margin: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 16px;
    padding-left: 8px;
}

.news-slim {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 12px;
    padding-left: 26px;
}

.linkedin-news {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 16px;

}

.show-less-news {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    padding: 2px 8px 2px 8px;
    border-style: none;
    border-width: 0px;
    background-color: white;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}



.home-right {
    margin-top: 24px;
    width: 300px;
    /* height: 560px; */
    /* border: 1px black solid; */
    background-color: white;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    /* max-height: 560px; */
    /* transition: height 1s; */
}

.show-less {

    max-height: 230px;

    overflow: hidden;
}


.connection-count {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    column-gap: 110px;
}





.left-card {
    width: 225px;
    height: 400px;
    border: 1px black solid;
    margin-top: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
}


.premium {
    align-self: flex-start;
}

.profile-photo-72 {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin: 2px;
    border: white 2px solid;

}


.left-card-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9)
}

.left-card-title {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.left-card-connections {
    margin-left: 5px;
}

.left-card-line {
    width: 225px;
}


.left-card-span {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    width: 200px;
}

.span-one {
    color: rgba(0, 0, 0, 0.6)
}

.span-two {
    color: rgb(10, 102, 194);
}

.create-post-container {
    width: 555px;
    height: 116px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}