.three-dots {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  height: 32px;
  min-height: 24px;
  width: 32px;
  align-items: center;
  line-height: 20px;
  text-align: center;
  background-color: white;
  background-image: none;
  border-style: none;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
}

.three-dots-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.9);
  list-style-type: none;
  padding: 0;
  top: 15px;
  z-index: 1;
}

.edit-delete-button {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.9);
  border-style: none;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  left: -315px;
  line-height: 24px;
  padding-bottom: 4px;
  text-align: right;
  top: 40px;
  right: -8px;
  width: 100px;
}

button.edit-delete-button:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

#basic-button {
  color: rgb(102, 102, 102);
}
